ALTER TABLE MANITOU_TEST.APEX$_WS_NOTES
  DROP CONSTRAINT APEX$_WS_NOTES_CL_CK;

ALTER TABLE MANITOU_TEST.APEX$_WS_NOTES ADD (
  CONSTRAINT APEX$_WS_NOTES_CL_CK
  CHECK (component_level in ('WEBSHEET','ROW','WORKSPACE','WEBPAGE'))
  ENABLE VALIDATE);
