ALTER TABLE MANITOU_TEST.APEX$_WS_TAGS
  DROP CONSTRAINT APEX$_WS_TAGS_CL_CK;

ALTER TABLE MANITOU_TEST.APEX$_WS_TAGS ADD (
  CONSTRAINT APEX$_WS_TAGS_CL_CK
  CHECK (component_level in ('WEBSHEET','ROW','WORKSPACE','WEBPAGE'))
  ENABLE VALIDATE);
