ALTER TABLE MANITOU_TEST.DEMO_ORDER_ITEMS
  DROP CONSTRAINT DEMO_ORDER_ITEMS_PRODUCT_ID_FK;


ALTER TABLE MANITOU_TEST.DEMO_ORDER_ITEMS ADD (
  CONSTRAINT DEMO_ORDER_ITEMS_PRODUCT_ID_FK 
  FOREIGN KEY (PRODUCT_ID) 
  REFERENCES MANITOU_TEST.DEMO_PRODUCT_INFO (PRODUCT_ID)
  ON DELETE CASCADE
  ENABLE VALIDATE);
