ALTER TABLE MANITOU_TEST.APEX$_WS_LINKS
  DROP CONSTRAINT APEX$_WS_LINKS_FK;


ALTER TABLE MANITOU_TEST.APEX$_WS_LINKS ADD (
  CONSTRAINT APEX$_WS_LINKS_FK 
  FOREIGN KEY (ROW_ID) 
  REFERENCES MANITOU_TEST.APEX$_WS_ROWS (ID)
  ON DELETE CASCADE
  ENABLE VALIDATE);
