ALTER TABLE MANITOU_TEST.DEMO_ORDERS
  DROP CONSTRAINT DEMO_ORDERS_CUSTOMER_ID_FK;


ALTER TABLE MANITOU_TEST.DEMO_ORDERS ADD (
  CONSTRAINT DEMO_ORDERS_CUSTOMER_ID_FK 
  FOREIGN KEY (CUSTOMER_ID) 
  REFERENCES MANITOU_TEST.DEMO_CUSTOMERS (CUSTOMER_ID)
  ENABLE VALIDATE);
