ALTER TABLE MANITOU_TEST.DEMO_ORDER_ITEMS
  DROP CONSTRAINT DEMO_ORDER_ITEMS_FK;


ALTER TABLE MANITOU_TEST.DEMO_ORDER_ITEMS ADD (
  CONSTRAINT DEMO_ORDER_ITEMS_FK 
  FOREIGN KEY (ORDER_ID) 
  REFERENCES MANITOU_TEST.DEMO_ORDERS (ORDER_ID)
  ON DELETE CASCADE
  ENABLE VALIDATE);
