ALTER TABLE MANITOU_TEST.DEMO_CUSTOMERS
  DROP CONSTRAINT DEMO_CUST_CREDIT_LIMIT_MAX;

ALTER TABLE MANITOU_TEST.DEMO_CUSTOMERS ADD (
  CONSTRAINT DEMO_CUST_CREDIT_LIMIT_MAX
  CHECK (credit_limit <= 5000)
  ENABLE VALIDATE);
