ALTER TABLE MANITOU_TEST.DEMO_CUSTOMERS
  DROP CONSTRAINT DEMO_CUSTOMERS_PK;

ALTER TABLE MANITOU_TEST.DEMO_CUSTOMERS ADD (
  CONSTRAINT DEMO_CUSTOMERS_PK
  PRIMARY KEY
  (CUSTOMER_ID)
  ENABLE VALIDATE);
