ALTER TABLE MANITOU_TEST.APEX$_WS_FILES
  DROP CONSTRAINT APEX$_WS_FILES_FK;


ALTER TABLE MANITOU_TEST.APEX$_WS_FILES ADD (
  CONSTRAINT APEX$_WS_FILES_FK 
  FOREIGN KEY (ROW_ID) 
  REFERENCES MANITOU_TEST.APEX$_WS_ROWS (ID)
  ON DELETE CASCADE
  ENABLE VALIDATE);
