ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTIONS
  DROP CONSTRAINT APEX$_WS_WEBPG_SECTIONS_PK;

ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTIONS ADD (
  CONSTRAINT APEX$_WS_WEBPG_SECTIONS_PK
  PRIMARY KEY
  (ID)
  ENABLE VALIDATE);
