ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTIONS
  DROP CONSTRAINT APEX$_WS_WEBPG_SECTION_LINK_CK;

ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTIONS ADD (
  CONSTRAINT APEX$_WS_WEBPG_SECTION_LINK_CK
  CHECK (nav_include_link in ('Y','N'))
  ENABLE VALIDATE);
