ALTER TABLE MANITOU_TEST.APEX$_WS_LINKS
  DROP CONSTRAINT APEX$_WS_LINKS_CL_CK;

ALTER TABLE MANITOU_TEST.APEX$_WS_LINKS ADD (
  CONSTRAINT APEX$_WS_LINKS_CL_CK
  CHECK (component_level in ('WEBSHEET','ROW','WORKSPACE','WEBPAGE'))
  ENABLE VALIDATE);
