ALTER TABLE MANITOU_TEST.DEMO_ORDER_ITEMS
  DROP CONSTRAINT DEMO_ORDER_ITEMS_PK;

ALTER TABLE MANITOU_TEST.DEMO_ORDER_ITEMS ADD (
  CONSTRAINT DEMO_ORDER_ITEMS_PK
  PRIMARY KEY
  (ORDER_ITEM_ID)
  ENABLE VALIDATE);
