ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTION_HISTORY MODIFY 
  APPLICATION_USER_ID NULL;

ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTION_HISTORY MODIFY 
  APPLICATION_USER_ID NOT NULL
  ENABLE VALIDATE;
