ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTIONS
  DROP CONSTRAINT APEX$_WS_WEBPG_SECTION_3D_CK;

ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTIONS ADD (
  CONSTRAINT APEX$_WS_WEBPG_SECTION_3D_CK
  CHECK (chart_3d in ('Y','N'))
  ENABLE VALIDATE);
