ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTIONS
  DROP CONSTRAINT APEX$_WS_WEBPG_SECTION_TYPE_CK;

ALTER TABLE MANITOU_TEST.APEX$_WS_WEBPG_SECTIONS ADD (
  CONSTRAINT APEX$_WS_WEBPG_SECTION_TYPE_CK
  CHECK (section_type in ('TEXT','DATA','CHART','NAV_PAGE','NAV_SECTION'))
  ENABLE VALIDATE);
