ALTER TABLE MANITOU_TEST.DEMO_ORDERS
  DROP CONSTRAINT DEMO_ORDER_TOTAL_MIN;

ALTER TABLE MANITOU_TEST.DEMO_ORDERS ADD (
  CONSTRAINT DEMO_ORDER_TOTAL_MIN
  CHECK (order_total >= 0)
  ENABLE VALIDATE);
