ALTER TABLE MANITOU_TEST.DEMO_ORDERS
  DROP CONSTRAINT DEMO_ORDERS_USER_ID_FK;


ALTER TABLE MANITOU_TEST.DEMO_ORDERS ADD (
  CONSTRAINT DEMO_ORDERS_USER_ID_FK 
  FOREIGN KEY (USER_ID) 
  REFERENCES MANITOU_TEST.DEMO_USERS (USER_ID)
  ENABLE VALIDATE);
