ALTER TABLE MANITOU_TEST.APEX$_WS_FILES
  DROP CONSTRAINT APEX$_WS_FILES_CL_CK;

ALTER TABLE MANITOU_TEST.APEX$_WS_FILES ADD (
  CONSTRAINT APEX$_WS_FILES_CL_CK
  CHECK (component_level in ('WEBSHEET','ROW','WORKSPACE','WEBPAGE'))
  ENABLE VALIDATE);
