ALTER TABLE MANITOU_TEST.APEX$_WS_TAGS
  DROP CONSTRAINT APEX$_WS_TAGS_FK;


ALTER TABLE MANITOU_TEST.APEX$_WS_TAGS ADD (
  CONSTRAINT APEX$_WS_TAGS_FK 
  FOREIGN KEY (ROW_ID) 
  REFERENCES MANITOU_TEST.APEX$_WS_ROWS (ID)
  ON DELETE CASCADE
  ENABLE VALIDATE);
