ALTER TABLE MANITOU_TEST.DEMO_PRODUCT_INFO
  DROP CONSTRAINT DEMO_PRODUCT_INFO_PK;

ALTER TABLE MANITOU_TEST.DEMO_PRODUCT_INFO ADD (
  CONSTRAINT DEMO_PRODUCT_INFO_PK
  PRIMARY KEY
  (PRODUCT_ID)
  ENABLE VALIDATE);
